[submodule "lib/nonstdlib"]
	path = lib/nonstdlib
	url = https://github.com/gremble0/nonstdlib
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest
[submodule "lib/llvm-project"]
	path = lib/llvm-project
	url = https://github.com/llvm/llvm-project
