*.o
*.a
*.out
*.log
out.ll
!compiler/test/lexer-expected/*.log
!compiler/test/parser-expected/*.log
!compiler/test/compiler-expected/*.log
kebab
test_all
compile_commands.json
.cache/
vgcore*
run_tests
